<div class="container theme-showcase padding-RL0 theme-player-detail-part" role="main"
     data-ng-init="athleteDetails()">
    <div class="col-md-12 col-sm-12 col-xs-12 BG-White  Margin-T30">
        <div class="col-md-3 col-sm-3 col-xs-12 theme-player-detail-image  TX-Center">
            <img src="resources/images/players-100x/{{athlete.id}}.jpg" class="img-circle respo-image">

            <h4 class="theme-player-name">{{athlete.firstname}} {{athlete.surname}}</h4>
            <!--<label class="col-xs-12">Boy:
			  <span class="Font-w100">
				 {{athlete.height}} cm
			  </span>
            </label>


            <label class="col-xs-12">Kilo:
			  <span class="Font-w100">
				 {{athlete.weight}} kg
			  </span>
            </label>
-->
        </div>

        <div class="col-md-9 col-sm-9 col-xs-12 Padding-RL0">


            <table class="table table-striped Margin-T20">
                <thead>
                <tr>
                    <td>Antrenman Adı</td>
                    <td class="hidden-xs">Tarih</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Boğaziçi Maçı Antrenmanı</td>
                    <td class="hidden-xs">19 Kasım 2014</td>
                    <td>
                        <button class="btn btn-sm">Detay</button>
                    </td>
                </tr>

                <tr>
                    <td>Rutin Büyük Saha Antrenmanı</td>
                    <td class="hidden-xs">28 Kasım 2014</td>
                    <td>
                        <button class="btn btn-sm">Detay</button>
                    </td>
                </tr>

                </tbody>
            </table>


        </div>

    </div>

</div>