<div class="page-header">
    <h2>Customer Details</h2>
</div>
<div data-ng-init="customerDetails()" class="col-sm-7">
    <table class="table table-hover">
        <tbody>Details for <b>{{customer.firstName}} {{customer.lastName}}</b></tbody>
        <tr>
            <td class="col-sm-3">First name:</td>
            <td>{{customer.firstName}}</td>
        </tr>

        <tr>
            <td class="col-sm-3">Last name:</td>
            <td>{{customer.lastName}}</td>
        </tr>

        <tr>
            <td class="col-sm-3"><span class="glyphicon glyphicon-envelope"></span> Email
                Address:
            </td>
            <td>{{customer.email}}</td>
        </tr>

        <tr>
            <td class="col-sm-3">Address:</td>
            <td>{{customer.address}}</td>
        </tr>

        <tr>
            <td class="col-sm-3">Phone:</td>
            <td>{{customer.phone}}</td>
        </tr>
    </table>
</div>