<div class="container theme-showcase padding-RL0" role="main">

    <div class="col-md-9 col-sm-9 col-xs-12 Padding-RL0">
        <button type="button" ng-click="startMonitoring()">Start Monitoring</button>
        <button type="button" ng-click="stopMonitoring()">Stop Monitoring</button>
        <button type="button" ng-click="resetMonitoring()">Reset Monitoring</button>

        <span><h2>{{currentData.acceleration}}</h2></span>
        <span><h2>{{currentData.pulse}}</h2></span>

    </div>

    <div class="row" style="max-width: 800px; max-height: 500px">
        <highchart id="chart1" config="chartConfig" class="span10"></highchart>
    </div>

</div>