<!-- Fixed navbar -->
<nav class="navbar navbar-fixed-top theme-navbar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar icon-bar1"></span>
                <span class="icon-bar icon-bar2"></span>
                <span class="icon-bar icon-bar3"></span>
            </button>
            <a class="navbar-brand" href="#/">
                <img src="resources/css/custom/img/logo.png" alt="Logo">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav Margin-T8">
                <li><a data-ng-show="hasRole('ROLE_ADMIN')||hasRole('ROLE_TRAINER')"
                       href="#/athletes">Sporcular</a></li>
                <li><a data-ng-show="hasRole('ROLE_ADMIN')||hasRole('ROLE_TRAINER')"
                       href="#/acceleration">İvme</a></li>
                <li><a data-ng-show="hasRole('ROLE_ADMIN')||hasRole('ROLE_TRAINER')||hasRole('ROLE_ATHLETE')"
                       data-target="#aboutUs" href="" data-toggle="modal">Hakkında</a></li>
                <li><a data-ng-show="hasRole('ROLE_ADMIN')||hasRole('ROLE_TRAINER')||hasRole('ROLE_ATHLETE')"
                       data-target="#contactUs" href="" data-toggle="modal">İletişim</a></li>
            </ul>

            <ul class="nav navbar-nav Margin-T8 pull-right" data-ng-show="!user">
                <li><a data-target="#aboutUs" href="" data-toggle="modal">Hakkında</a></li>
                <li><a data-target="#contactUs" href="" data-toggle="modal">İletişim</a></li>
                <li><a data-target="#login" href="" data-toggle="modal">Giriş</a></li>
            </ul>

            <li class="nav-user dropdown Margin-T10  pull-right"
                data-ng-show="user">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
				<span class="theme-user-name-box">{{ user.username | FirstTwoLetters }}<span>
				<b class="caret pull-right Margin-T20"></b>
                </a>
                <ul class="dropdown-menu" data-ng-show="user">
                    <li><a href="#" class="accountSettingsBtn">Hesap Ayarları</a></li>
                    <li class="divider"></li>
                    <li><a href="" data-ng-click="logout()">Çıkış</a></li>
                </ul>
            </li>

        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div ng-include src="'resources/html/partials/view/login.html'"></div>


<div id="contactUs" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">İletişim</h4>
            </div>
            <div class="modal-body">


                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="ant-name" class="col-sm-4 control-label">Adınız</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ant-name"
                                   placeholder="Sporcunun adını giriniz.." required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ant-name" class="col-sm-4 control-label">E-Posta Adresi</label>

                        <div class="col-sm-8">
                            <input type="email" class="form-control" id="ant-name" placeholder="e-posta adresiniz.."
                                   required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ant-name" class="col-sm-4 control-label">Konu</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ant-name" placeholder="" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="ant-name" class="col-sm-4 control-label">Mesajınız</label>

                        <div class="col-sm-8">
                            <textarea class="form-control" row="5">

                            </textarea>
                        </div>
                    </div>
                </form>


                <div class="clear"></div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">İptal</button>
                <button type="button" class="btn btn-primary">Gönder</button>
            </div>
        </div>
    </div>
</div>


<div id="aboutUs" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Proje Hakkında</h4>
            </div>
            <div class="modal-body">

                <p>
                    Bu proje, Orta Doğu Teknik Üniversitesi, Bilgisayar ve Öğretim Teknolojileri Eğitimi
                    Bölümü öğretim üyesi Prof. Dr. Kürşat Çağıltay danışmanlığında, aynı bölüm 4. Sınıf
                    öğrencileri Ferhat Yaldıran, Jülide Hülya Şengül, Serhat Can ve Zeki Bozbıyık tarafından
                    geliştirilmektedir. Bu proje kapsamında, Google Glass ve Arduino teknolojileri bir araya
                    getirilerek, sporcu eğitimini amaçlayan giyilebilir bir teknoloji oluşturulması planlanmıştır.
                    Projenin hedef kitlesi, koşu içeren antrenmanlarda çalışan antrenörler ve sporculardır.
                    Bu proje ile antrenörlerin, birlikte çalıştığı sporcuların verilerini daha kısa zamanda
                    ve daha etkin bir şekilde ölçmesi ve bu verileri görebilmesi sağlanmaktadır. Son zamanlarda
                    yaygınlaşmakta olan giyilebilir teknolojiler sayesinde hem antrenör hem sporcular antrenman
                    sırasında modern teknolojiler ile buluşacaktır. Ayrıca, sporcunun kalp atım hızı, koştuğu
                    mesafe ve koşma hızı bilgileri tek bir materyal aracılığı ile elde edilecek ve daha sonra
                    kullanılmak üzere saklanabilecektir.
                </p>

                <div class="clear"></div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
